/*Website Style*/

body {
    width:100%;
    height: auto;
    background-color: black;
}

header {
    background-color: black;
    color: white;
}

img.resize {
    height: 50%;
    width: auto;
}

#container {
    position: absolute;
    background-color: black;
    color: white;
    width: 960px;
    margin: auto;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



