/*Website Style*/

body {
    width:100%;
    height: auto;
    background-color: black;
}

header {
    background-color: black;
    color: black;
}

#container {
    background-color: black;
    color: white;
    width: 50%;
    height: auto;
    align-content: center;
}

h1, h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

img.resize {
    height: 50%;
    width: auto;
}

